/* page.module.css */
.container {
                padding: 20px;
              }
              
              .header {
                background-color: #001529;
                padding: 20px;
                text-align: center;
                border-radius: 8px;
                color: white;
                margin-bottom: 20px;
              }
              
              .filters {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
              }
              
              .filterGroup {
                margin-bottom: 20px;
              }
              
              .ant-table {
                background-color: white;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              }
              
              .logo {
                max-width: 50px;
                max-height: 50px;
                object-fit: contain;
                margin-right: 10px;
                vertical-align: middle;
              }
              
              .ant-table-footer {
                text-align: left;
              }

              